<!-- Header -->
<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <span>Olá, Thiago!</span>
    </ion-title>
    <ion-buttons slot="secondary" color="light">
      <ion-button color="light" fill="clear" size="small">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button color="light" fill="clear" size="small">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Dashboard -->
<ion-content class="ion-no-padding ion-no-margin" color="light">

</ion-content>
