<!-- Header -->
<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="light">
      <ion-button href="dashboard"><ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Extrato </ion-title>
    <ion-buttons slot="end">
      <ion-button href="wallet">
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin">
    <ion-list lines="none" class="ion-no-margin ion-margin-top">
      <ion-item>
        <ion-select placeholder="Período" okText="Confirmar" cancelText="Cancelar">
          <ion-select-option value="30">30 dias</ion-select-option>
          <ion-select-option value="60">60 dias</ion-select-option>
          <ion-select-option value="90">90 dias</ion-select-option>
          <ion-select-option value="1">Ano atual</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item button detail="true">
        <ion-label>
          <h3>Compra Voucher Ifood Card</h3>
          <p>R$ 70,00</p>
        </ion-label>
      </ion-item>
      <ion-item button detail="true">
        <ion-label>
          <h3>Compra Voucher Ifood Card</h3>
          <p>R$ 70,00</p>
        </ion-label>
      </ion-item>
      <ion-item button detail="true">
        <ion-label>
          <h3>Compra Voucher Ifood Card</h3>
          <p>R$ 70,00</p>
        </ion-label>
      </ion-item>
      <ion-item button detail="true">
        <ion-label>
          <h3>Compra Voucher Ifood Card</h3>
          <p>R$ 70,00</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
