<!-- Header -->
<ion-header mode="md" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <span>Extrato</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="business-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Dashboard -->
<ion-content class="ion-no-padding ion-no-margin">
  <ion-list lines="none" class="ion-no-margin ion-margin-top">

    <ion-item detail="false">
      <ion-buttons slot="start">
        <ion-button><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-label>Fevereiro</ion-label>
      <ion-buttons slot="end">
        <ion-button><ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item button detail="true">
      <ion-icon name="arrow-down-circle-outline" color="danger" slot="start"></ion-icon>
      <ion-label>
        <h3>Compra Voucher Ifood Card</h3>
        <p>R$ 70,00</p>
      </ion-label>
    </ion-item>
    <ion-item button detail="true">
      <ion-icon name="arrow-up-circle-outline" color="success" slot="start"></ion-icon>
      <ion-label>
        <h3>Compra Voucher Ifood Card</h3>
        <p>R$ 70,00</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
