<ion-content>
  <div class="login-section ion-padding">
      <div class="heading ion-padding">
        <h1>SuperSimples</h1>
        <P>Preenche seus dados</P>
      </div>
      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon name="document-outline"></ion-icon>
          <ion-item>
            <ion-input type="number" placeholder="CNPJ"></ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-input type="email" placeholder="Email"></ion-input>
          </ion-item>
        </div>
        <div class="form-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-input type="password" placeholder="Senha"></ion-input>
          </ion-item>
        </div>
        <div class="action-buttons ion-padding">
          <ion-button mode="ios" fill="outline" color="success" expand="block">Cadastrar-me</ion-button>
          <p>Já possui conta?</p>
          <ion-button mode="ios" color="dark" size="small" expand="block" routerLink="/login">Acessar minha conta</ion-button>
        </div>
      </div>
  </div>
</ion-content>
