ion-header {
  ion-toolbar {
    --min-height: 100px;
    ion-title {
      align-items: flex-end;
      img {
        width: 45px;
        vertical-align: middle;
        margin-right: 10px;
      }
    }

    span {
      font-size: 22px;
    }

    ion-button {
      display: block;
    }
  }
}

.home {
  border-radius: 20px 20px 0px 0px;
}

.saldo {
  --background: transparent;
  box-shadow: none;

  border: 1px solid #ccc;
  border-radius: 20px;

  ion-button {
    --background: transparent;
    --box-shadow: none;
    --border: none;

    color: var(--ion-color-success);
  }
}

.menu {

  span {
    font-size: 12px;
  }
}

.promo {
  ion-card-title {
    font-size: 14px;
  }

  ion-card-subtitle {
    font-size: 12px;
  }

  .bc {
    background-position: no-repeat;
    background-size: cover;
  }

  img {
    margin: 0;
    padding: 0;

    min-width: 100%;
    min-height: 100%;
  }
}


ion-footer {
  ion-slide {
    .container {
      width: 100%;
      height: 100px;
      background: var(--ion-color-primary-tint);
      padding: 10px;
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ion-icon {
        font-size: 24px;
      }
      span {
        font-size: 16px;
      }
    }
  }
}
